@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*--- standard styles for websites ---*/


body {
  font-family: "Inter", sans-serif;
  color: #313639;
  
}

a {
color: transparent
}

.row {
  border: 1px solid red;
}

.col {
  border: 3px solid blue;
}

/*--- social rectangle ---*/

div.social-rectangle {  
    position: fixed;
    width: 4rem;
    background-color: #9C6B8C;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}


div.social-icons-bar {
  width: 100%;
  margin-bottom: 15vh;
}

.facebook,
.twitter,
.instagram {
  display: block;
  text-align: center;
  
  background: white;
  color: #9C6B8C;
  text-decoration: none;
  transition: all 0.3s ease;
  /*
  font-size: 1.5rem;
  padding: 0.1rem;
  margin: 10px;
  border-radius: 20%; */
}
/*---- logo styles ---*/

.travelrMap-logo {
  height: 2.5rem;
 
}

/*--- nav styles ---*/

.nav-link {
  letter-spacing: 0.1rem; 
  font-weight: 500;
  color: #313639;
}

.navbar-nav {
  text-align: right;
}

